.bosh {
  position: relative;
  width: 100%;
  height: 657px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  /* background-image: url("https://baigenews.kz/upload/iblock/f1e/26e6f2be8341e83646a40ac7baceb4df_crop_l_3_t_36_w_1269_h_714.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; */
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.asosiy {
  position: absolute;
  top: 10%;
  left: 17%;
  width: 900px;
  height: 500px;
  background-color: rgba(128, 128, 128, 0.411);
  border-radius: 20px;
  box-shadow: 0px 0px 5px grey;
}
.photo {
  width: 105%;
  margin-left: -5%;
  height: 500px;
  border-radius: 0px 20px 20px 0px;
}
.int {
  outline: none;
  background-color: rgba(128, 128, 128, 0.699);
}
.logotip {
  display: inline;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.btna {
  background-color: rgba(0, 0, 255, 0.808);
  width: 100%;
  height: 50px;
  text-align: center;
  border-radius: 15px;
  padding: 10px 0px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s;
  color: white;
  text-decoration: none;
}
.btna:hover {
  transform: scale(1.2, 1.2);
}
.ant-modal-content {
  background-color: transparent;
}
.icons{
  margin-left: 2px;
  transform: scale(1.2, 1.2);
  margin-right: 10px;
  position: relative;
  top: -4px;
}

/* .ant-input-wrapper, .ant-input{
  height: 40px;
} */
.zoom{
  color: rgb(54, 54, 155);
  font-size: 19px;
  /* margin-top: 20px; */
  font-family: 'Calibri';
}
.zoom1{
  font-size: 16px;
  font-family: 'Calibri';
}
.select{
  margin-top: -10px;
  display: block;
  width: 100%;
  height: 30px;
  font-size: 16px;
}
.ant-modal{
  width: 800px;
  margin-left: -10%;
}
.ant-modal-content{
  width: 800px;
}
.fade, .alert, .alert-secondary, .show {
  text-align: center;
  border-radius: 15px;
  font-size: 20px;
}
@media(max-width: 320px){
  .ant-modal-content{
    width: 300px;
    margin: auto;
  }
  .zoom{
    font-size: 18px;
  }
  /* .fox{
    display: none;
  } */
  .asosiy{
    width: 260px;
    height: 500px;
    top: 5%;
    left: 11%;
    font-size: 16px;

  }
  .alert{
    height: 100px;
    width: 100%;
  }
  
}
@media(min-width:321px) and (max-width: 375px){
  .ant-modal-content{
    width: 350px;
    margin: auto;
  }
  .fox{
    display: none;
  }
}
@media(min-width:376px) and (max-width: 425px){
  .ant-modal-content{
    width: 410px;
    margin: auto;
  }
  .fox{
    display: none;
  }
}

@media(min-width: 426px) and (max-width: 450px){
  .ant-modal-content{
    width: 420px;
    /* margin-left: -120px; */
  }
  .fox{
    display: none;
  }
}

@media(min-width: 451px) and (max-width: 600px){
  .ant-modal-content{
    width: 450px;
    /* margin-left: -120px; */
  }
  .fox{
    display: none;
  }
}

@media(min-width: 601px) and (max-width: 768px){
  .ant-modal-content{
    width: 450px;
    margin:auto;
  }
  .fox{
    display: none;
  }
}
@media(min-width: 769px) and (max-width: 990px){
  .ant-modal-content{
    /* width: 450px; */
    margin-left: -126px;
  }
}

  @media(min-width:991px) and (max-width: 1024px){
    .ant-modal-content{
      margin-left: -88px;
    }
    
  }