.bosh{
    position: relative;
    width: 100%;
    height: 657px;
    background-image: url('https://baigenews.kz/upload/iblock/f1e/26e6f2be8341e83646a40ac7baceb4df_crop_l_3_t_36_w_1269_h_714.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.asosiy{
    position: absolute;
    top: 10%;
    left: 17%;
    width: 900px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px grey;
}
.photo{
    width: 105%;
    margin-left: -5%;
    height: 500px;
    border-radius: 0px 20px 20px 0px;
}
.inp{
    border: 0px solid transparent;
}










.btn{
    transition: 0.4s;
}
.btn :hover{
    width: 40px;
}